.RO-Top3{
    width: 100%;
    background-color: #EFEFF2;

    background: url(./../../assets/img/gradient.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 8rem;
    text-align: left;
}
.RO-Top3 h2{
    color: var(--Grayscale, #19191C);
    font-family: Inter;
    font-size: 3.625rem;
    font-weight: 700;
    margin-bottom: 35px;

}
.RO-CardTop3{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: auto;
    column-gap: 30px;
    row-gap: 30px;
}

@media screen and (max-width:850px) {
    .RO-CardTop3{
        grid-template-columns: repeat(1,auto);

    }
    
}