
/* section promotion */
.RO-Promotion {
    background-color: var(--Grayscale, #19191C);
    color: var(--Grayscale, #FBFBFC);
    padding: 100px 8rem;
    text-align: left;
    position: relative;
}


/* number 50 */
.RO-Promotion50 {
    color: var(--Grayscale, #FBFBFC);
    font-family: Inter;
    font-size: 3.625rem;
    font-weight: 700;
    width: 8rem;
    height: 4.375rem;
}
/* 
day and time */
.RO-PromotionDay {
    width: 4.5rem;
    height: 1.375rem;
}
.RO-PromotionTime {
    width: 4.6875rem;
    height: 1.375rem;
}

/* text p */
.RO-Promotion p {
    width: 50%;
    color: var(--Grayscale, #EFEFF2);
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: left;
}

/* button choose course */
.RO-Promotion button {
    box-sizing: border-box;
    border-radius: 3px;
    background: var(--Accent-Primary, #504DEE);
    color: var(--Grayscale, #FBFBFC);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    width: 220px;
    height: 54px;
    text-align: center;
    padding: 0;
}


/* vectors */
.RO-PromotionVector {
    position: absolute;
    top: 10%;
    right: 29.75%;
}


.RO-PromoRecSmall {
    position: absolute;
    top: 63%;
    right: 21%;
}

.RO-PromoRec87 {
    position: absolute;
    bottom: -4%;
    right: 60%;
}

.RO-Promocircle {
    position: absolute;
    top: 13%;
    right: 55%;
}

@media screen and (max-width:992px) {
    html {
        font-size: 12px;
    }


}

@media screen and (max-width:750px) {
    .RO-Promotion {
        padding: 100px 4rem;
    }

    .RO-Promotion p {
        width: 80%;
    }

    .RO-Promotion button {
        font-size: 14px;
    }

    .RO-PromotionFlex {
        flex-direction: column;
        gap: 30px;
    }

    .RO-PromotionVector {
        display: none;
    }

    .RO-PromoRecSmall {
        display: none;
    }

}