.ma-hero .ma-courses-pThree {
    color: #19191C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

/* .ma-courses-underline {
    width: 84px;
    height: 4px;
    background: #504DEE;
} */

.ma-hero-left .ma-bottom {
    margin-bottom: 100px;
}

.ma-hero-left .ma-arrow {
    margin-bottom: 100px;
}

.ma-hero-right .img2 {
    width: 100%;
    height: auto;
    position: relative;
    top: 9px;
    left: 80px;
    z-index: 2;
}

.ma-hero-btn7 {
    position: absolute;
    bottom: 490px;
    left: 420px;
}

.ma-hero-btn8 {
    position: absolute;
    bottom: 550px;
    left: 200px;
}

.ma-hero-btn9 {
    position: absolute;
    bottom: 480px;
    left: 0px;
}

.ma-hero-btn10 {
    position: absolute;
    bottom: 330px;
    left: -50px;
}

.ma-hero-btn11 {
    position: absolute;
    bottom: 230px;
    left: -180px;
}

.ma-hero-btn12 {
    position: absolute;
    bottom: 100px;
    left: -100px;
}